<h2>Add a new gym</h2>

<%= form_with model: @gym do |form| %>
  <div class="cards" id='form-container'>
    <div class="card">
      <div class="element new-gym-element">
        <%= form.label :name%>
        <%= form.text_field :name, class: 'input-fields' %>
      </div>
      <div class="alert">
        <% @gym.errors.full_messages_for(:name).each do |message| %>
          <%= message %>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="element new-gym-element">
        <%= form.label :address %>
        <%= form.text_field :address, class: 'gym-field' %>
      </div>
      <div class="alert">
        <% @gym.errors.full_messages_for(:address).each do |message| %>
          <%= message %>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="element new-gym-element">
        <%= form.label :climbing_type, 'Type' %>
        <%= form.select :climbing_type, ['Boulder', 'Rope'], class: 'gym-field-dropdown' %>
      </div>
      <div class="alert">
        <% @gym.errors.full_messages_for(:climbing_type).each do |message| %>
          <%= message %>
        <% end %>
      </div>
    </div>
    <%= form.submit class: 'submit' %>
  </div>
<% end %>
