<%= form_with model: [@gym, @review] do |form| %>
  <div class="main-form-container">
    <div class="form-container">
      <div class="element-container">
        <div class="info-element">
          <%= form.label :comment, 'Comment' %>
          <%= form.text_field :comment, class: 'input-field input-fields' %>
        </div>
        <div class="alert">
          <% @gym.errors.full_messages_for(:comment).each do |message| %>
            <%= message %>
          <% end %>
        </div>
      </div>
      <div class="element-container">
        <div class="info-element">
          <%= form.label :rating, class: 'rating'%>
          <%= form.hidden_field :rating, class: 'hidden', id: 'rating-field' %>
          <div class="rate">
            <% (1..5).each do |i| %>
              <i class="fa-solid fa-star star" id='star-rating'></i>
            <% end %>
          </div>
        </div>
        <div class="alert">
          <% @review.errors.full_messages_for(:rating).each do |message| %>
            <%= message %>
          <% end %>
        </div>
      </div>
    </div>
    <%= button_tag(type: 'submit', class: 'submit, edit-remove-container') do %>
      <i class="fa-solid fa-chevron-up fa-rotate-90"></i>
    <% end %>
  </div>
<% end %>

        <%# <div class="star-rating">
          <label for="5-stars" class="star" data-index='1'><i class="fa-regular fa-star hover-icon "></i></label>
          <label for="4-stars" class="star" data-index='2'><i class="fa-regular fa-star hover-icon"></i></label>
          <label for="3-stars" class="star" data-index='3'><i class="fa-regular fa-star hover-icon"></i></label>
          <label for="2-stars" class="star" data-index='4'><i class="fa-regular fa-star hover-icon"></i></label>
          <label for="1-star" class="star" data-index='5'><i class="fa-regular fa-star hover-icon"></i></label>
        </div> %>
